body {
  background:#999;
  font-family: arial;
  margin: 0;
}


a {
  color: white;
}

p {
  color: #555;
}

header {
  background: #999;
  margin: 0;
}

nav ul {
  margin: 0;
}

nav ul li {
  background: black;
  display: inline-block;
  list-style-type: none;
  padding: 5px 15px;
}

