body {
  background:#999;
  font-family: arial;
}

h1 {
  color: #555;
}

a {
  background: #555;
  color: purple;
}

p {
  background: #555;
  color: white;
  padding: 10px 30px;
}

.selected {
  background: #444;
  color: blue;
}
